<header class="clearfix">
    <div class="media pull-left" id="logo">
        <img class="media-object" src="img/logo.png">
    </div>
    <div class="pull-right" id="user">
        <p><b>Bem-vindo,</b> {{headerCtrl.userName}}!
            <a class="fa-stack fa-lg" style="cursor: pointer" ng-click="headerCtrl.fnToExist()" title="Sair">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-sign-out fa-stack-1x "></i>
            </a>
        </p>
    </div>
    <div class="navbar pull-left" id="menu-nav">
        <ul class="nav nav-pills">
            <li><a href="/home.html">Home</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Acadêmico <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/matricular-turma.html">Matricular-se em uma turma</a></li>
                    <li class="disabled"><a href="#">Acesso ao EVA</a></li>
                    <li class="disabled"><a href="#">Extrato de Notas</a></li>
                    <li class="disabled"><a href="#">Frequência</a></li>
                    <li class="disabled"><a href="#">Grades Curriculares em Oferta</a></li>
                    <li class="disabled"><a href="#">Horário Semanal</a></li>
                    <li class="disabled"><a href="#">Notas de Avaliação</a></li>
                    <li class="disabled"><a href="#">Plano de Ensino</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown">Financeiro <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/extrato-financeiro.html">Extrato Financeiro</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown">Biblioteca <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Em Desenvolvimento</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown">Saiac-Online <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/protocolo.html">Abrir Protocolo</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" data-toggle="dropdown">Suporte <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Em Desenvolvimento</a></li>
                </ul>
            </li>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Quem Somos</a></li>
        </ul>
    </div>
</header>
<ul class="breadcrumb">
    <li ng-repeat="(key, value) in headerCtrl.breadcrumb" ng-show="headerCtrl.breadcrumb.length > 0">
        {{value}}<span class="divider"></span>
    </li>
</ul>