<h1>Greeting</h1>
<div ng-show="authenticated">
    <p>The ID is {{controller.greeting.id}}</p>
    <p>The content is {{controller.greeting.content}}</p>
</div>
<div  ng-show="!authenticated">
    <p>Login to see your greeting</p>
</div>
<div>
	<p>Adicionar novo usuário</p>
	<label for="user">Usuário</label>
	<input id="user" ng-model="newUser.name">
	<label for="password">Senha</label>
	<input type="password" ng-model="newUser.password">
	<button class="btn btn-sucess" ng-click="controller.cadastrar()">REGISTRAR</button>
</div>