<div class="panel panel-default">
        
    <div class="panel-body">
        
        <div class="row">
            <div class="col-md-12 form-group">
                <button class="btn btn-danger pull-right" ng-click="ctrl.logout()"><i class="fa fa-sign-out color-white"></i> Sair</button>
            </div>
        </div>
        
        <form name="formularioCategoria">

            <div class="row">

                <div class="col-sm-6 col-md-4 form-group">
                    <label for="username">Nome</label>
                    <input type="text" class="form-control" id="username" ng-model="ctrl.user.name" required>
                </div>
                
                <div class="col-sm-6 col-md-4 form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" ng-model="ctrl.user.username" required>
                </div>
                
                <div class="col-sm-6 col-md-4 form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" ng-model="ctrl.user.password" required>
                </div>

            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-2 form-group pull-right">
                    <button class="btn btn-success form-control" ng-click="ctrl.saveUser()">Salvar</button>
                </div>
            </div>
        </form>
        
        
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
        <tr ng-repeat="user in ctrl.users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>
                <a href="#" class="btn btn-default" ng-click="ctrl.editUser(user)">
                    <i class="fa fa-pencil color-sandybrown"></i>
                </a>
                <button class="btn btn-danger" ng-click="ctrl.deleteUser(user)"><i class="fa fa-times"></i></button>
            </td>
        </tr>
    </table>

</div>