<div ng-controller="FornecedorCadController as fornecedorCtrl">
    <h3>Cadastro de Fornecedor</h3>
    <ol class="breadcrumb">
        <li>Cadastro</li>
        <li class="active">Fornecedor</li>
    </ol>


    <div class="panel panel-default">
        <div class="panel-body">

            <form name="formularioFornecedor">

                <div class="row">

                    <div class="col-sm-6 form-group">
                        <label for="fantasia">Nome Fantasia*</label>
                        <input name="nomeFantasia" type="text" class="form-control" id="fantasia" ng-model="fornecedorCtrl.fornecedor.nomeFantasia" required>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="fornecedor">CNPJ*</label>
                        <input type="number" class="form-control" id="fornecedor" ng-model="fornecedorCtrl.fornecedor.cnpj" required>
                    </div>

                </div>

                <div class="row collapse" id="maisDados">
                    <div class="col-sm-6 form-group">
                        <label for="razaoSocial">Razão Social</label>
                        <input type="text" class="form-control" id="razaoSocial" ng-model="fornecedorCtrl.fornecedor.razaoSocial">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" ng-model="fornecedorCtrl.fornecedor.fone">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" ng-model="fornecedorCtrl.fornecedor.email">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#maisDados" data-toggle="collapse" class="collapsed" ng-click="showMore = !showMore">
                            <span ng-show="!showMore"><i class="fa fa-plus"></i> Ver mais dados</span>
                            <span ng-show="showMore"><i class="fa fa-minus"></i> Ver menos dados</span>
                        </a>
                        <button class="btn btn-success pull-right" ng-click="fornecedorCtrl.salvar()">Salvar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nome Fantasia</th>
                    <th>Razão Social</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
                <tr ng-repeat="fornecedor in fornecedorCtrl.fornecedores">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>