/* icons colors */

.fa-key {
    color: goldenrod
}

.fa-line-chart {
    color: blue
}

.fa-money {
    color: limegreen
}

.fa-pencil {
    color: sandybrown
}

.fa-sign-out {
    color: indianred
}