/* Page structure configuration */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5D5353;
    border-color: #DF1678;
    color: white
}

/** Navs */
.nav-bar-brand {
    background-color: #E0D9D9;
    border-radius: 50%;
}
 
.navbar-fixed-top, 
.navbar-fixed-bottom, 
.navbar-nav a{
    color: inherit !important;
    background-color: inherit !important;
}

.navbar-fixed-top {
    border-bottom: 2px solid;
    background-color: inherit;
    border-color: inherit;
}

.navbar-text {
    color: inherit !important;
}

.navbar-fixed-bottom {
    border-top: 2px solid;
    border-color: inherit;
    text-align: center;
}

.assignature {
    padding-top: 13px;
}

.assignature a {
    color: inherit;
}

.assignature a:hover {
    text-decoration: none;
    color: dodgerblue;
}

/** Sidebar */
.side-bar {
    position: static;
    padding-top: 15px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: inherit;
    height: inherit;
    overflow: auto;
}

.side-bar>ul a,
.side-bar>ul>li {
    background-color: inherit;
    color: inherit;
    padding-left: 15px;
}

/** Content */
.content-view {
    background-color: white;
    color: black;
    min-height: 100%;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: inherit;
}

.ng-cloak#loading {
    display: inherit;
}

.shadown-effect {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.soft-board {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px
}

input.ng-valid-required, 
select.ng-valid-required{
    border-left: 5px solid green;
}

input.ng-invalid-required, 
select.ng-invalid-required {
    border-left: 5px solid red;
}

/** Utils */
.limited-line-250 {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-border {
    border: 0px;
}

.align-options-right {
    left: -120px;
}